<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Instalação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding' >
  <div class="ion-text-justify">
    <p>Para instalar este app em seu pc e poder estudar suas funções siga os seguintes passos:</p>
    <ul>
      <li>Clone o projeto do <a href="https://github.com/andersondesigner3d/principais_funcoes_ionic_8" target="_blank">GitHub</a>.</li>
      <li>Não clone o projeto para pastas que tenha caracteres especiais como "ç" ou acentos, isto pode dar erro ao executar os comandos seguintes.</li>
      <li>Abra a pasta do projeto com o Visual Studio Code.</li>
      <li>No VS Code use o atalho de abrir o prompt de comando: <span style="color:green">ctrl + shift + '</span></li>
      <li>Intale o Node Modules com o comando: <span style="color:green">npm install</span></li>
      <li>Aqui você já pode testar a versão web com o comando <span style="color:green">ionic serve</span></li>
      <li>Perceba que as instalações com Node só são concluídas quando o Node fecha, você tem que esperar o Node realizar cada comando para poder passar para o próximo comando.</li>
      <li>Compile o projeto com o comando: <span style="color:green">ionic build</span></li>
      <li>Copie a compilação para o projeto com o comando: <span style="color:green">ionic cap copy</span></li>
      <li>Sincronize todos os plugins com o comando: <span style="color:green">ionic cap sync</span></li>
      <li>Instale o Android Studio mais recente que tiver disponível.</li>
      <li>Abra o projeto no Android Studio com o comando: <span style="color:green">ionic cap open android</span></li>
      <li>Aqui basta criar um emulador no Android Studio e dar play que o app já rodará.</li>
      <li>Caso queira ver o app no seu smartphone conecte-o com um cabo de dados no pc, libere o modo desenvolvedor no seu smartphone e deixe a conexão no modo ancoragem USB</li>
      <li>Instale para teste em tempo real no seu smartphone com o comando: <span style="color:green">ionic cap run android -l --external</span></li>
      <li>Seu Smartphone deverá aparecer no prompt de comando, selecione-o e digite enter.</li>
      <li>O Ionic deverá oferecer alguns servidores (IPs) pra você rodar o app em modo Live Reload (tempo real) enquanto programa, escolha algum e espere compilar no seu Smartphone.</li>
      <li>Se tudo der certo o app abrirá no seu smartphone e tudo que você mudar no código deverá mudar tmb no app em tempo real.</li>
      <li>Lembre-se de usar a branch mais recente do projeto para que tudo funcione normal.</li>
    </ul>
  </div>  

</ion-content>
