<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Geolocalização</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding' >
  <div *ngIf="latitude === null || longitude === null || latitude === 0 || longitude === 0; else showLocation">
    <p>Buscando satélites...</p>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <ng-template #showLocation>
    <div>
      <p>Latitude: {{ latitude }}</p>
      <p>Longitude: {{ longitude }}</p>
    </div>
  </ng-template>
</ion-content>