<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Radio Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding' >
  <p>Uso básico:</p>
  <ion-radio-group [(ngModel)]="frutas" (ionChange)="selecionaFrutas()" value="strawberries" [allowEmptySelection]="true">
    <ion-radio value="grapes">Grapes</ion-radio><br />
    <ion-radio value="strawberries">Strawberries</ion-radio><br />
    <ion-radio value="pineapple">Pineapple</ion-radio><br />
    <ion-radio value="cherries">Cherries</ion-radio>
  </ion-radio-group>

  <div class="linha-horizontal"></div>

  <p>Label Placement:</p>
  <ion-radio-group value="start">
    <ion-radio value="start" labelPlacement="start">Label at the Start</ion-radio>
  </ion-radio-group>
  
  <br />
  
  <ion-radio-group value="end">
    <ion-radio value="end" labelPlacement="end">Label at the End</ion-radio>
  </ion-radio-group>
  
  <br />
  
  <ion-radio-group value="fixed">
    <ion-radio value="fixed" labelPlacement="fixed">Fixed Width Label</ion-radio>
  </ion-radio-group>

  <div class="linha-horizontal"></div>

  <p>Justification:</p>
  <ion-list>
    <ion-radio-group value="start">
      <ion-item>
        <ion-radio value="start" justify="start">Packed at the Start of Line</ion-radio>
      </ion-item>
    </ion-radio-group>
  
    <ion-radio-group value="end">
      <ion-item>
        <ion-radio value="end" justify="end">Packed at the End of Line</ion-radio>
      </ion-item>
    </ion-radio-group>
  
    <ion-radio-group value="space-between">
      <ion-item>
        <ion-radio value="space-between" justify="space-between">Space Between Label and Control</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div class="linha-horizontal"></div>

  <p>Theming:</p>
  <ion-radio-group value="primary">
    <ion-radio aria-label="Primary" color="primary" value="primary"></ion-radio>
  </ion-radio-group>
  <ion-radio-group value="secondary">
    <ion-radio aria-label="Secondary" color="secondary" value="secondary"></ion-radio>
  </ion-radio-group>
  <ion-radio-group value="tertiary">
    <ion-radio aria-label="Tertiary" color="tertiary" value="tertiary"></ion-radio>
  </ion-radio-group>
  <ion-radio-group value="success">
    <ion-radio aria-label="Success" color="success" value="success"></ion-radio>
  </ion-radio-group>
  <ion-radio-group value="warning">
    <ion-radio aria-label="Warning" color="warning" value="warning"></ion-radio>
  </ion-radio-group>
  <ion-radio-group value="danger">
    <ion-radio aria-label="Danger" color="danger" value="danger"></ion-radio>
  </ion-radio-group>
  <ion-radio-group value="light">
    <ion-radio aria-label="Light" color="light" value="light"></ion-radio>
  </ion-radio-group>
  <ion-radio-group value="medium">
    <ion-radio aria-label="Medium" color="medium" value="medium"></ion-radio>
  </ion-radio-group>
  <ion-radio-group value="dark">
    <ion-radio aria-label="Dark" color="dark" value="dark"></ion-radio>
  </ion-radio-group>

</ion-content>