ion-loading.custom-loading {
    --background: #e3edff;
    --spinner-color: #1c6dff;
  
    color: #1c6dff;
  }

.loading-options{
    padding: 10px;
    background-color: darkgreen;
}

ion-progress-bar{
  margin-bottom: 10px;
}