<ion-app [class.dark-mode]="darkMode">
  <ion-split-pane contentId="main-content">
    <ion-menu [type]="menuType" contentId="main-content" type="overlay">
      <ion-content >
        <ion-list id="inbox-list">
          <ion-list-header>Menu</ion-list-header>
          <ion-note>andersondesigner3d@hotmail.com</ion-note>
          
          <ion-buttons slot="end">
            <ion-button (click)="toggleDarkMode()">
              <ion-icon [name]="darkMode ? 'moon' : 'sunny'"></ion-icon>
              <ion-label>
                {{ darkMode ? 'Darkmode' : 'Lightmode' }}
              </ion-label>
            </ion-button>
          </ion-buttons>

          <div class="linha-horizontal"></div>

          <ion-accordion-group>

            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Componentes Simples</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">

                <ion-searchbar placeholder="Buscar" [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

                <ion-menu-toggle auto-hide="false" *ngFor="let p of results; let i = index">
                  <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                    <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                    <ion-label>{{ p.title }}</ion-label>
                  </ion-item>
                </ion-menu-toggle>

              </div>
            </ion-accordion>

            <ion-accordion value="second">
              <ion-item slot="header" color="light">
                <ion-label>Componentes Nativos</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">

                <ion-searchbar placeholder="Buscar" [debounce]="1000" (ionInput)="handleNativeInput($event)"></ion-searchbar>
               
                <ion-menu-toggle auto-hide="false" *ngFor="let p of nativeResults; let i = index">
                  <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                    <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                    <ion-label>{{ p.title }}</ion-label>
                  </ion-item>
                </ion-menu-toggle>

              </div>
            </ion-accordion>

          </ion-accordion-group>

          
        </ion-list>

        

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>