<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class='ion-padding'>
      <ion-img src="assets/images/ionic8-logo.png" alt="Ionic 7 logo"></ion-img>
      <br>
    <strong class="capitalize">Principais Funções<br> do Ionic 8.0</strong>
    <br>
    <br>
    <p>Por Anderson Rocha <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/anderson-rocha/">Linkedin</a></p>
    <p>Código Aberto: <a target="_blank" rel="noopener noreferrer" href="https://github.com/andersondesigner3d/principais_funcoes_ionic_8">Github</a></p>
    <p>Versão: {{ appVersion }}</p>
    </div>    
  </div>
</ion-content>