<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ion Icon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding' >
  <p>Para ver todos disponíveis acesse: <a target="_blank" href="https://ionic.io/ionicons">https://ionic.io/ionicons</a></p>
  <div class="linha-horizontal"></div>
  <ion-icon name="logo-ionic"></ion-icon>
  <ion-icon name="logo-ionic" size="large"></ion-icon>
  <ion-icon name="logo-ionic" color="primary"></ion-icon>
  <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
  <ion-icon name="accessibility-outline"></ion-icon>
  <ion-icon name="add-outline"></ion-icon>
  <ion-icon name="add-circle-outline"></ion-icon>
  <ion-icon name="airplane-outline"></ion-icon>
  <ion-icon name="alarm-outline"></ion-icon>
</ion-content>